.contCentrado
{
	float: none;
	display: block;
	margin: 0 auto;
}
.contDeColor
{
	border-radius: 8px;
	border: 1px solid black;
	padding: 2em 4em 4em;
}
.formulario,.inputForm
{
	margin-bottom: 1em;
}
.responseDanger 
{
	display: none;
}
.miniLoader
{
	display: block;
	margin: 1em auto;
    
}
.no-padding
{
    padding: 0;
}
.borrarColor
{
    margin-top: 8%;
}
.imgItem
{
    max-width: 200px;
}
.table-centered,.table-centered tbody tr td
{
    text-align: center;
    vertical-align: middle;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}